@import url('reset.css');

body {
  background-color: black;
}

p {
  color: white;
}

.banner {
  background-image: url('../images/banner.png'),
                    linear-gradient(rgba(10, 0, 0, .6), 
                    rgba(20, 180, 250, .2), 
                    rgba(10, 0, 0, .6));    
border-bottom: 1px solid #33ABDB;
height: 605px;
padding-top: 50px;  
}

.banner p {
  font-size: 20px;
  margin: 16px 0 24px;
}

.banner .banner-content {
  text-align: center;
  color: white;
  width: 510px;
  height: 393px;
  margin: auto;  
}

.banner h1 {
  font-weight: 900;
  font-size: 40px;  
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33A8DB, #1472B7);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner .logo img {  
  width: 100%;
  height: 100%;
  margin: auto;
}

.banner .logo {
  width: 268px;
  margin: auto;
  padding: 20px;
  margin-bottom: 16px;
}

.banner .banner-content button {
  color: #31A8DB;
  font-size: 15px;
  font-weight: bold;
  padding: 19px 91px;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-color: transparent;
  border-image: linear-gradient(#3BA1CD, #1572B7);
  border-image-slice: 10;  
}

#course-content {
  text-align: center;
}

h2 {
  font-size: 32px;
  color: #33A8DB;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

#course-content .modules-list {
  margin: 20px 0;
}

#course-content .modules-list .module span {
  color: #33A8DB;
}

#course-content .modules-list .module {
  color: white;
  width: 535px;
  border: 1px solid #33A8DB;
  background-color: #252525;
  padding: 20px;
  border-radius: 100px; 
  margin: 0 auto 24px;
}

#transform-world {
  background-image: url("../images/woman-code.png");
  background-size: cover;
  background-attachment: fixed;
  border-top: 1px solid #33A8DB;
  border-bottom: 1px solid #33A8DB;  
  height: 363px;
  padding: 100px;
}

#transform-world p {
  font-weight: 900;
  font-size: 40px;
  text-transform: lowercase;  
  width: 250px;  
}

#professional-challenges {
  text-align: center;
  padding: 40px 0 10px;
}

#professional-challenges img {
  margin: 10px 0;
}


footer a {
  color: #33A8DB;
  font-weight: bold;
  text-decoration: none;
}

footer {
  padding: 60px 0;
  text-align: center;  
  border-top: 1px solid #33A8DB80;

}

footer .dio-logo {
  width: 310px;
  height: 44px;
}

